.c-menu {
  padding: 1.563rem 0rem;
  margin-bottom: 0.75rem;
  background-color: #1F1F1F;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__username {
    font-weight: 700;
    font-size: 1.063rem;
  }

  &__logout {
    background-color: transparent;
    border: none;
    color: $color-white;
    font-weight: 300;
    font-size: 1.063rem;
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      color: #D03434;
      margin-left: 0.75rem;
    }
  }
}