.c-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.813rem;

  img {
    width: 7.188rem;
    height: 7.188rem;;
    border-radius: 100%;
    border: 3px solid $color-white;
  }
}